@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #333;
  --background: #f9f9f9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Se añade show y clase .showMe para animación de scroll*/
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.showMe {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

/* Se añade scale-up-center para animación de aparación del logo*/
.scale-up-center {
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Se añade scale-up-center para animación de aparación hacia la izquierda de imagen del primer container*/
.slide-left {
  animation: slide-left 12s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
